# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# Streamlit
.streamlit/

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (optional - remove if you want to upload model)
*.pkl
*.joblib

# Data files (optional - remove if dataset should be public)
data/*.csv

# IDE
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.bak